@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-repeat: no-repeat;
  background-image: url("../pic/tree1.jpg");
}
#typeDiv {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 10%;
  text-align: center;
}
.name {
  color: #ffffff;
}
#txt1 {
  font-size: 16px;
  text-align: center;
  color: white;
}
#txt2 {
  font-size: 16px;
  text-align: center;
  color: white;
}

#content {
  position: absolute;
  top: 1%;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 20%;
}

#time {
  font-size: 25px;
  text-align: center;
  color: #ffdf00;
}

#timer {
  text-align: center;
  color: white;
}

#d {
  font-size: 19px;
}

#h {
  font-size: 19px;
}

#m {
  font-size: 19px;
}

#s {
  font-size: 19px;
}

#treeTxt {
  position: absolute;
  display: table;
  vertical-align: middle;
  top: 80%;
  left: 0;
  right: 0;
  margin: auto;
  width: 10%;
  height: 8%;
}

#clickMe {
  display: inline-block;
  font-size: 16px;
  width: 100%;
  text-align: center;
  color: white;
}

#tree {
  width: 100%;
  height: 100%;
}
#button {
  background-image: url("../pic/tree.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: inherit;
  border: none;
  outline: none;
  background-position: center;
  transition: 0.1s;
  width: 100%;
  height: 100%;
}

#Txt {
  display: inline-block;
  font-size: 17px;
  width: 100%;
  text-align: center;
  color: white;
}

#tmp {
  display: inline-block;
  font-size: 17px;
  width: 100%;
  text-align: center;
  color: white;
}
@media screen and (max-width: 600px) {
  body {
    overflow: hidden;
  }
  #typeDiv {
    top: 30%;
    height: auto;
  }

  #content {
    top: 5%;
    height: auto;
  }

  #together {
    font-size: 20px;
  }

  #timer {
    font-size: 14px;
  }
  /* Add more adjustments for other elements as needed */
}
