<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>christmas</title>
</head>
<body>
    Happy Jamhuri day
    <p>Enter the your name:</p>
    <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <input type="text" placeholder="first name" name="first_name" required>
        <input type="text" placeholder="last name" name="last_name" required>
        <button type="submit">Send message</button>
    </form>
   
</body>
</html>