<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="body">
        hello 
        you have a message click her to view
        <input type="button" value="click here">
        <p>
            "Happy Jamhuri Day🥳🥳! 🇰🇪 On this special day of independence,
             may your heart be filled with joy, pride, and gratitude for the beautiful nation of Kenya ☺️.
             Wishing you a day surrounded by love, unity, and the warmth of cherished moments. 
             Let's celebrate the spirit of freedom and progress together. 
             Cheers to a bright and prosperous future for our beloved country! 🌟 #JamhuriDay 
             #KenyaAt58"
        </p>
    </div>
</body>
</html>